//https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488

/*  ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {
}
@media screen and (min-width: 481px) and (max-width: 1280) {
    body{
        grid-template-areas:    'cabecera'
                                'bio'
                                'hobbies'
                                'work'
                                'github '
                                'tech'!important;
        grid-template-columns: repeat(6,1fr)!important;
        #cabecera{
            grid-template-areas:    'titulo'
                                    'quote' 
                                    'redes'!important;
            grid-template-columns: 1fr!important;
            grid-template-rows: repeat(3,1fr);
        }
    }
}
@media screen and (max-width: 480px) {
    body{
        grid-template-areas:    'cabecera'
                                'bio'
                                'hobbies'
                                'work'
                                'github '
                                'tech'!important;
        grid-template-columns: repeat(6,1fr)!important;
        #cabecera{
            grid-template-areas:    'titulo'
                                    'quote' 
                                    'redes'!important;
            grid-template-columns: 1fr!important;
            grid-template-rows: repeat(3,1fr);
        }
    }
}