/*
    Rodrigo Mardones Quinteros
    rmardonesq@gmail.com
*/
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
@import url(Variables.css);
* {
    background-color: var(--ColorFondoPrincipal);
    font-family: 'Roboto', sans-serif!important;
    color: var(--ColorTextoPrincipal);
    transition: 1s;
}
    *:before {
        color: var(--ColorTextoDestacado);
        font-family: 'Josefin Sans', sans-serif !important;
    }
a{
    border-bottom: 2px solid var(--ColorTextoDestacado);
    text-decoration: none;
}
body, html {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
body {
    display:grid;
    grid-gap: var(--GridGap);
    grid-template-areas:    'Header'
                            'Bio'
                            'Hobbies'
                            'Trabajo'
                            'DesarrolloProfesional';
    grid-template-columns:1fr;
    grid-template-rows:repeat(min-content,5);
}
    body header,
    body section {
        padding:var(--DefaultPadding);
    }
h1, h2, h3, h4, h5 {
    border: 0;
    border-left: 5px solid var(--ColorAdornos);
    color: var(--ColorTextoDestacado);
    font-family: 'Josefin Sans', sans-serif!important;
    font-weight: bold;
    padding-left: calc(var(--DefaultPadding) * 2);
}
h1 {
    font-size:2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size:1.3em;
}
header {
    background: var(--ColorFondoPrincipal) /*url(../../Images/tree.png) no-repeat no-repeat right 30%*/;
    background-size: 40% auto;
    border: 0;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, var(--ColorFondoPrincipal), var(--ColorTextoPrincipal), var(--ColorAdornos), var(--ColorFondoPrincipal));
    grid-area: Header;
}
    header address {
        background-color:var(--ColorTextoDestacado);
        position:fixed;
        right:0;
        top:calc(50% - 75px);
        width:50px;
    }
        header address a {
            border-bottom: 0;
            display:block;
            height:30px;
            width:50px;
        }
            header address a.Facebook:active .fa-facebook-square *,
            header address a.Facebook:hover .fa-facebook-square *,
            header address a.Facebook:focus .fa-facebook-square *{
                color: #3b5998;
            }
            header address a.Github:active .fa-github-square *,
            header address a.Github:hover .fa-github-square *,
            header address a.Github:focus .fa-github-square * {
                color: #FFF;
            }
            header address a.Gmail:active .fa-envelope *,
            header address a.Gmail:hover .fa-envelope *,
            header address a.Gmail:focus .fa-envelope * {
                color: #FFF;
            }
            header address a.Instagram:active .fa-instagram-square *,
            header address a.Instagram:hover .fa-instagram-square *,
            header address a.Instagram:focus .fa-instagram-square * {
                color: #DD2A7B;
            }
            header address a.Twitter:active .fa-twitter-square *,
            header address a.Twitter:hover .fa-twitter-square *,
            header address a.Twitter:focus .fa-twitter-square * {
                color: #00ACEE;
            }
    header blockquote {
        width:50%;
    }
    header blockquote p {
        font-style:italic;
    }
        header blockquote p:after {
            color: var(--ColorTextoDestacado);
            content: "\"";
            font-size: 1.5em;
        }
    header blockquote p:before {
        color:var(--ColorTextoDestacado);
        content:"\"";
        font-size:1.5em;
    }
    header h1 {
        width:50%;
    }
    section#Bio {
    grid-area:Bio;
}
    section#Bio:before {
        font-weight:bold;
        padding: 0 calc(var(--DefaultPadding) / 2) 0 0;
    }
li, p {
    padding: calc(var(--DefaultPadding) / 2);
    text-align: justify;
}
section {
    margin-right:60px;
}
    section li,
    section p{
        line-height:1.5em;
    }
section#Hobbies {
    grid-area:Hobbies;
}
    section#Hobbies:before {
        content: "\f11b    Hobbies";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        font-size: 1.5em;
        font-weight: bold;
        padding: calc(var(--DefaultPadding) / 2);
        padding-left: 0;
    }
    section#Hobbies b,
    section#DesarrolloProfesional b{
        color: var(--ColorTextoDestacado);
    }
    section#Trabajo {
        grid-area: Trabajo;
    }
        section#Trabajo:before {
            content: "\f0b1     Historial Laboral";
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: var(--DefaultPadding);
            padding: calc(var(--DefaultPadding) / 2);
            padding-left: 0;
        }
    section#Trabajo .Item .Cargo{
        line-height:2em;
    }
        section#Trabajo .Item:hover .Cargo,
        section#Trabajo .Item:active .Cargo {
            border-color:var(--ColorTextoDestacado);
            color:var(--ColorTextoPrincipal);
        }
        section#Trabajo .Item:hover span,
        section#Trabajo .Item:active span {
            border-color: var(--ColorTextoDestacado);
            height: auto;
            opacity: 1;
            padding: var(--DefaultPadding);
            visibility: visible;
        }
        section#Trabajo .Item span {
            -webkit-transition: opacity 600ms, visibility 600ms;
            border-left: 5px solid var(--ColorAdornos);
            color: var(--ColorTextoPrincipal);
            display: block;
            height:0;
                    margin-left:50px;
            opacity: 0;
            transition: opacity 1000ms, visibility 1000ms;
            visibility: collapse;
        }
    section#DesarrolloProfesional {
        border: 0;
        border-bottom: 5px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to left, var(--ColorFondoPrincipal), var(--ColorTextoPrincipal), var(--ColorAdornos), var(--ColorFondoPrincipal));
        grid-area: DesarrolloProfesional;
    }
    section#DesarrolloProfesional:before {
        content: "Desarrollo Laboral";
        font-size: 1.5em;
        font-weight:bold;
        padding: calc(var(--DefaultPadding) / 2);
        padding-left: 0;
    }
svg {
    margin-right:5px;
}